
<form [formGroup]="form" (ngSubmit)="editPhone()">
  <div >
    <input type="text" [(ngModel)] ="user.firstName" name="first" class="form-control" style="display: none;"/>
  </div>
  <div >
    <input type="text" [(ngModel)]="user.lastName" name="last" class="form-control" style="display: none;"/>
  </div>
  <div >
    <input type="date" [(ngModel)]="user.birthday" name="birth" class="form-control" style="display: none;"/>
  </div>
  <!--<div >
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="sex" id="male" style="display: none">
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="sex" id="female" style="display: none">
      </label>
    </div>
  </div>-->
  <div >
    <input type="text" [(ngModel)]="user.username" class="form-control" name="username" style="display: none"/>
  </div>
  <div >
    <input type="password" [(ngModel)]="user.password" name="pwd" class="form-control" style="display: none"/>
  </div>
  
  <!--<div >
  
    <label>Số điện thoại:</label>
    <input
      formControlName="oldPhone"
      id="oldPhone"
      type="tel"
      class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPhone.errors }"/>
  
      <div *ngIf="f.oldPhone.errors.required" class="invalid-feedback">Số điện thoại cũ là bắt buộc.</div>
  
  </div>-->
  
  <!--<div >
    <label>Số điện thoại mới:</label>
    <input  [(ngModel)]="user.phone" name="phone"  id="phone" type="tel"
            formControlName="phone"
    />
  
    <div class="invalid-feedback">Số điện thoại mới là bắt buộc</div>
  </div>-->
  <div class="form-group">
    <label >Số điện thoại:</label>
    <input [(ngModel)]="user.phone"  id="phone" type="tel" formControlName="phone" class=" " [ngClass]="{ 'is-invalid': this.form.get('phone').hasError('pattern')}" />
    <div *ngIf="this.form.get('phone').hasError('pattern')" class="invalid-feedback">
      <div *ngIf="this.form.get('phone').hasError('pattern')">Nhập số điện thoại gồm 10 chữ số.</div>
      </div>
    </div>
  
  
    <div >
  
      <div class=" col-xs-3">
        <!--      <button type="button" (click)="editPhone()" class="btn btn-danger">Hủy<i class="fa "></i></button>-->
        <button type="submit" class="btn btn-success" (click)="editPhone()" >Cập nhật<i class="fa"></i></button>
      </div>
  
    </div>
    <!-- Modal -->
  
  </form>
  