
<div class="row">


    <div class="col-sm-4" style="background-color: darkgray; height:100%">
      <input type="text" placeholder="Tìm kiếm bạn bè, nhóm " name="search" id="search" class="form-control inp-cus " autocomplete="on" [(ngModel)] = "search" >





      <div class="row contact-list__add nav-button_add_friend" data-toggle="modal" data-target="#myModal">
        <img class="contact-list__add__icon" src="assets/images/plus.png" alt="logo" >
        <span class="fr-conv-item-title truncate" style="width: calc(100% - 60px); color: darkgreen">Thêm bạn bè bằng số điện thoại</span>
      </div>
      <div class="row contact-list-item" routerLink="directory-friend-target" >

        <img class="fr-conv-item-avatar" src="assets/images/add-user.png" alt="logo" >
        <span class="fr-conv-item-title truncate" >Danh sách kết bạn </span>

      </div>
      <div class="row contact-list-item">
        <img class="fr-conv-item-avatar" src="assets/images/listgroup.png" alt="logo">
        <span class="fr-conv-item-title truncate">Danh sách nhóm</span>
      </div>
      <div>
        <div class="data-list__label">
          <p>Bạn bè</p>
        </div>
        <div class="scroll-directory" >
          <div *ngFor="let user of users | filter:search">

            <div class="row contact-list-item">
              <a routerLink="directory-chat/{{user.id}}">
                <img class="fr-conv-item-avatar" src="assets/images/listgroup.png" alt="logo">
                <span class="fr-conv-item-title truncate">{{user.username}}</span>
                <span >{{user.phone}}</span>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>



    <div class="col-sm-8" style="background-color: darkgray; height: 100%">
      <router-outlet></router-outlet>

    </div>




  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog ">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thêm bạn</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form class="form-inline" action="/action_page.php">
              <input class="form-control mr-sm-1" type="text" name="phone"
                     id="phone" placeholder="Số điện thoại" [(ngModel)]="phone"/>
              <button class="btn btn-success" type="submit" (click)="findByPhone()">Tìm kiếm</button>
            </form>
            <div *ngIf="u">
                <div data-toggle="modal" data-target="#myModalInf">
                  <div class="find-friend-suggestion-item">
                    <img class="avatar-img" src="assets/images/listgroup.png" alt="logo">
                    <div class="truncate">
                      {{u.username}}
                    </div>
                    <div class="phone-user">
                      {{u.phone}}
                    </div>
<!--                    <button *ngIf="check==-1" class="button-user-addfriend" (click)= "saveContact(user.id,u.id)">Kết bạn</button>-->
<!--                    <button *ngIf="check==0" class="button-user-addfriend" >Hủy kết bạn</button>-->
<!--                    <button *ngIf="check==2" class="button-user-addfriend" (click)= "saveContact(user.id,u.id)">Chấp nhận</button>-->
<!--                    <button *ngIf="check==1" class="button-user-addfriend" >Bạn bè</button>-->
                  </div>
                </div>

            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>

      </div>
    </div>
  </div>
<!--  Kết thúc modal 1-->
<!--  Modal 2-->

  <!-- The Modal -->
  <div *ngIf="u" class="modal" id="myModalInf">
    <div class="modal-dialog " >
      <div class="modal-content">
        <!-- Modal Header -->

        <div class="modal-header">
          <h5>Thông tin</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

          <p align="center"><img src="assets/images/add-user.png" class="img-rounded"  width="50%" height="150"></p>

            <div class="row" >
              <div class="col-12" align="center">
                <h2>{{u.username}}</h2>
              </div>
            </div>
            <div class="row" style="padding: 20px">
                  <div class="col-6" align="center">
                    <button type="button" class="btn btn-primary">Nhắn tin</button>
                  </div>
                  <div class="col-6" align="center">
                    <button *ngIf="check==-1" class="button-user-addfriend" (click)= "saveContact(user.id,u.id)">Kết bạn</button>
                    <button *ngIf="check==0" class="button-user-addfriend" >Hủy kết bạn</button>
                    <button *ngIf="check==2" class="button-user-addfriend" (click)= "saveContact(user.id,u.id)">Chấp nhận</button>
                    <button *ngIf="check==1" class="button-user-addfriend" >Bạn bè</button>

                  </div>
            </div>
            <div class="row" >
              <div class="col-4">
                <span> Nhóm chung</span>
              </div>
              <div class="col-8">
                <span>Không có nhóm chung</span>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <span>giới tính</span>
              </div>
              <div class="col-8">
                <span>{{u.sex}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <span>Ngày sinh</span>
              </div>
              <div class="col-8">
                <span>{{u.birthday}}</span>
              </div>
            </div>

<!--            <div class="row">-->
<!--              <div class="col-3">-->
<!--                <button type="button" class="btn btn-outline-secondary">Chia sẻ</button>-->
<!--              </div>-->
<!--              <div class="col-3">-->
<!--                <button type="button" class="btn btn-outline-secondary">Chặn</button>-->
<!--              </div>-->
<!--              <div class="col-3">-->
<!--                <button type="button" class="btn btn-outline-secondary">Xóa</button>-->
<!--              </div>-->
<!--              <div class="col-3">-->
<!--                <button type="button" class="btn btn-outline-secondary">Báo xấu</button>-->
<!--              </div>-->

<!--            </div>-->

        </div>
      </div>
    </div>
  </div>

  <!--Kết thúc modal 2-->

</div>


