<div class="card" xmlns="http://www.w3.org/1999/html">
    <h4 class="card-header">Đăng ký</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label >Họ:</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Họ là bắt buộc</div>
                    <div *ngIf="f.firstName.errors.pattern">Họ là chữ</div>
                </div>
            </div>
            <div class="form-group">
                <label >Tên:</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Tên là bắt buộc</div>
                </div>
            </div>
          <div class="form-group">
            <label >Số điện thoại:</label>
            <input type="tel" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Số điện thoại là bắt buộc</div>
              <div *ngIf="f.phone.errors.minlength">Số điện thoại 10 kí tự</div>
              <div *ngIf="f.phone.errors.maxlength">Số điện thoại 10 kí tự</div>
            </div>
          </div>
          <div class="form-group">
            <label >Ngày sinh:</label>
            <input type="date" formControlName="birthday" (ngModelChange)="checkDate()" 
              class="form-control"
              
            />
            <!-- [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"  -->
            <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
              <div *ngIf="f.birthday.errors.required"> Ngày sinh là bắt buộc</div>
            </div>
            <span style="color: red;" *ngIf="isShowErrorDate"> Ứng dụng cho người 18 tuổi trở lên. </span>

          </div>
          <div class="form-group">
            <label >Giới tính:</label><br>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" formControlName="sex" class="form-check-input" name="sex" id="male" value="male" checked>Nam
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" formControlName="sex" class="form-check-input" name="sex" id ="female"  value="felmale">Nữ
              </label>
            </div>

          </div>
            <div class="form-group">
                <label >Tên người dùng:</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Tên người dùng là bắt buộc</div>
                </div>
            </div>
            <div class="form-group">
                <label >Mật khẩu:</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Mật khẩu là bắt buộc</div>
                    <div *ngIf="f.password.errors.minlength">Mật khẩu không dưới 6 kí tự</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Đăng kí
                </button>
                <a routerLink="../login" class="btn btn-link">Hủy</a>
            </div>
        </form>
    </div>
</div>
